.body {
  background: $white;
  min-width: 375px;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 337px;
  grid-template-rows: repeat(2, 300px);
  place-items: center;
  place-content: center;

  .first-section {
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;

    &__header {
      margin: 0 30px;
      font-family: "bold-font", Arial, Helvetica, sans-serif;
      font-size: 33px;
      color: $dark-magenta;
      line-height: 1;
      letter-spacing: -1.5px;
    }

    &__description {
      margin-top: 25px;
      color: $dark-magenta;
      font-family: "regular-font", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.7;
    }
  }
}

.box {
  background-color: $light-gray-magenta;
  width: 337px;
  height: 80px;
  margin: 15px auto;
  text-align: center;
  border-radius: 10px;

  &__star {
    margin: 15px 2px;
  }

  &__rated {
    margin: 0 auto;
    font-family: "bold-font", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $dark-magenta;
  }
}
