.body {
  background: $white;
  min-width: 375px;
  height: 100%;
}

  .first-section {
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;

    &__header {
      margin: 0 30px;
      font-family: "bold-font", Arial, Helvetica, sans-serif;
      font-size: 33px;
      color: $dark-magenta;
      line-height: 1;
      letter-spacing: -1.5px;
    }

    &__description {
      margin-top: 25px;
      color: $dark-magenta;
      font-family: "regular-font", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.7;
    }
  }
