@font-face {
  font-family: "bold-font";
  src: url("../fonts/Spartan-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "medium-font";
  src: url("../fonts/Spartan-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "regular-font";
  src: url("../fonts/Spartan-Regular.ttf") format("truetype");
}